html {
    background-image: linear-gradient(160deg, #d2ddef 10%, #6e86ad 100%);
}

body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #1c1339;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cuprum', sans-serif;
    color: #18035E;
    font-weight: normal;
    line-height: 1.3;
}

h3 {font-size: 22px}

h2 {
    margin-top: 1.3em;
}

a {
    color: #501CF5;
}

b, strong {
    font-weight: 600;
}
