canvas {   
    display : block;
    margin : auto;
}

body {
    background-image: url('meri/ocean.jpg');
}

#this {
    text-align: center;
    margin : auto;
}

#otsikko {
    font: bold 40px 'Annie Use Your Telescope';
    color: white;
}
